.add-ad-global .ant-form-item-explain {
    min-height: 1px !important;
}

.ad-add-main {
    width: 30vw;
    height: 70vh;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0 0 35vw;
    backdrop-filter: blur(2px);
}

.ad-add-main::before {
    z-index: -1;
    content: '';
    filter: blur(1px);
    opacity: 0.8;
    background-color: #FFFFFF;
    position: absolute;
    width: 30vw;
    height: 70vh;
    border-radius: 50px;
}

.ad-add-main-sm {
    width: 75vw;
    height: 86vh;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 12vw;
    backdrop-filter: blur(2px);
}

.ad-add-main-sm::before {
    width: 75vw;
    height: 86vh;
    z-index: -1;
    content: '';
    filter: blur(1px);
    opacity: 0.8;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 50px;
}

.publicate-btn {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    border-radius: 50px;
    padding: 1vh 10vw 1vh 10vw;
    margin-top: 1vh;
    font-size: 1.5rem;
    cursor: pointer;
}

.ad-add-title {
    color: orange;
    font-weight: 400;
    margin-top: 2vh;
    text-align: center;
}

.ad-add-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ad-add-content .ant-input-disabled {
    cursor: initial !important;
}

.ad-add-content .ant-select-selection-item {
    cursor: initial !important;
    user-select: initial !important;
}

.main-photo-main-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main-photo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 35%;
    height: 18vh;
}

.border-5px {
    border: 5px dashed #FFFFFF;
    border-radius: 5px;
}

.main-photo-border-hover:hover {
    border: 5px dashed #FFFFFF;
    border-radius: 5px;
}

.main-photo > span {
    width: fit-content;
}

.main-photo-img {
    width: 15vh;
}

.main-photo h2 {
    font-size: 1rem;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.main-info input {
    font-family: Poppins, serif;
    font-size: large;
    opacity: 1;
    border-radius: 10px;
    border: 0 solid;
    background: transparent;
    margin-top: 1vh;
    margin-left: 0.5vw;
    width: 90% !important;
}

.main-info-input {
    display: flex;
    margin-left: 3vw;
}

.main-info-input div {
    display: flex;
    align-items: center;
}

.viewing-inputs input  {
    display: block;
    font-family: Poppins, serif;
    font-size: large;
    opacity: 1;
    border-radius: 10px;
    border: 0 solid;
    background: transparent;
    margin-top: 1vh;
}

.ant-upload.ant-upload-drag {
    background: none !important;
    border: none !important;
}

.add-ad-global .ant-form-item {
    margin-bottom: 1vh;
}

.secondary-info .ant-input-number {
    width: 100% !important;
    background-color:  #C4C4C4 !important;
    border-radius: 5px;
}

.secondary-info {
    margin-top: 2vh;
    width: 80%;
}

.width-100-percent {
    width: 100%;
}

.text-location {
    color: rgb(133, 133, 133);
    font-family: Poppins, serif;
    font-size: large;
    margin-left: 1vw;
}

.text-location span {
    height: 23px;
    overflow: hidden;
}

.secondary-info .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    text-align: center !important;
    background-color: black;
    padding: 0;
}

.secondary-info .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #C4C4C4 !important;
    border-radius: 5px !important;
    border: none;
    
}
.secondary-info .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    color: white !important;
}
.secondary-info .ant-input:placeholder-shown {
    background-color: #C4C4C4 !important;
    border-radius: 5px !important;
    border: none;
}

.secondary-info ::placeholder {
    color: white !important;
}


.secondary-info .ant-input {
    background-color: #C4C4C4 !important;;
    color: white !important;
    border: none !important;
}

.ant-modal-body {
    width: 100%;
    height: 60vh;
}
