.settings-main{
    width: 37vw;
    height: 67vh;
    border-radius: 50px;
    display: flex;
    background: rgba(255, 255, 255, 0.2); 
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.settings-avatar {
    margin: 7% 0 0 7%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

.settings-header-text {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 3vh;
  }

.settings-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.settings-main .ant-input {
  background-color: transparent !important;
  border: none !important;
  width: 80% !important;
}

.avatar {
  display: block;
  width: 30vw;
  height: 30vw;
  margin-top: 15%;
  margin-left: 15%;
  cursor: pointer;
  position: relative;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  border-radius: 50%;
  overflow: hidden;
}

.avatar .anticon {
  content: '';
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  background-color: rgba(#000, 0);
  transition: 0.2s;
}

.avatar .anticon svg {
  fill: #fff;
  opacity: 0;
  width: 50%;
  height: 50%;
}

.avatar .anticon-spin{
  opacity: 1 !important;
  fill: black !important;
}

.avatar .anticon-spin svg {
  fill: black;
  opacity: 1;
}
.avatar:hover .anticon{
  background-color: black;
  opacity: 0.4;
}
.avatar:hover .anticon svg{
  fill: #fff;
  opacity: 1;
}

.avatar:hover .anticon-spin svg{
  fill: #fff;
}

.div-settings-main-sm {
    width: initial;
    height: 70vh;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 3vw 0 3vw;
}


.div-settings-main-sm::before {
  z-index: -1;
  content: '';
  background: rgba(255, 255, 255, 0.2); 
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: absolute;
  width: 95vw;
  height: 70vh;
  border-radius: 50px;
}

.div-settings-main-sm .div-settings-main-avatar {
  width: 30vw;
  height: 30vw;
}

.div-settings-main-sm .settings-header-text {
    flex-direction: column;
    height: initial;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em !important;
    
}

.div-settings-main-sm .avatar {
  display: block;
  width: 30vw;
  height: 30vw;
  margin-top: 15%;
  margin-left: 0%;
  cursor: pointer;
  position: relative;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  border-radius: 50%;
  overflow: hidden;
}

.div-settings-main-sm .settings-header-text-name  {
  margin-top: 3vh;
  padding: 0 0 !important;
}

.div-settings-main-sm .settings-header-text-name .ant-input  {
  font-size: 1.3rem !important;
}

.div-settings-main-sm .settings-header-text-others .ant-input {
  color: white !important;
  padding: 0 0 !important;
}

.div-settings-main-sm .settings-header-text-others div {
  display: flex;
  justify-content: center;
}

.div-settings-main-line {
  width: 90%;
  margin-top: 3vh;
}

