.div-reg-main {
    width: 40vw;
    height: 65vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12vh 0 0 29vw;
    background-color: orange;
}

input::placeholder{
    color: #9F9F9F;
}

.div-reg-email {
    font-family: Poppins, serif;
    font-size: large;
    margin-top: 5vh;
    height: 8vh;
    width: 30vw;
    border-radius: 7px;
    padding: 0 1vw 0 1vw;
    border: 1px rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.9);
}

textarea:focus, input:focus{
    outline: none;
}

.div-reg-main-btn {
    background-color: white;
    color: orange;
    font-size: 20pt;
    border-radius: 50px;
    padding: 1vh 8vh 1vh 8vh;
    margin-top: 2vh;
    letter-spacing: 1px;
    border: 1px solid orange;
    cursor: pointer;
}

.div-reg-main-sm {
    width: 94vw;
    height: 80vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 3vw 0 3vw;
    background-color: orange;
}

.div-reg-main-sm .div-reg-email {
    width: 80vw;
}

.div-reg-main-sm a:hover {
    color: white !important;
}

.div-reg-main a:hover {
    color: white !important;
}

.oauth-icon {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 1vw;
}
