.main-card {
    border-radius: 15px;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
    
}


.card-content {
    padding: 12px 12px 12px 12px;
    width: 100%;
    height: 100%;
}

.card-content-header {
    height: 60%;
    display: flex;
    justify-content: center;
}

.card-content-header img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.card-house-type {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-house-type svg {
    margin-right: 7%;
    stroke: #FDB137;
    stroke-width: 2;
}


.card-house-type svg :hover{
    fill: #FDB137;
    
}


.main-card h3{
    margin-bottom: 0 !important;
    color: #5F5F5F !important; 
}

.card-house-ext-info {
    margin-top: 5%;
    display: flex;
}
.card-house-ext-info h3 {
    margin-left: 7%;
}
.card-house-ext-info-location {
    width: 50%;
    display: flex;
    align-items: center;
}
.card-house-ext-info-cost {
    width: 30%;
    display: flex;
    align-items: center;
}


