body {
    background-size: 100vw 100vh ;
    background-repeat: no-repeat;
}
.div-main {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 25vh 4vw 0 0;
}

.div-text { 
    width: 40%;
    color: white;
    font-size: 3vw;
    font-weight: bold;
}

.div-btns {
    font-size: 2vw;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
}

.div-left-btn {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    border-radius: 50px;
    padding: 1vh 8vh 1vh 8vh;
}

.div-right-btn {
    background-color: white;
    color: orange !important; 
    border: 2px solid white;
    border-radius: 50px;
    padding: 1vh 8vh 1vh 8vh;
}

.div-left-btn a:hover  {
    color: white !important;
}